.dialog {
  display: flex;
  height: 200px;
  width: 400px;

  border: 1px solid black;
  background: white;
  padding: 1px;

  font-family: 'chikarego2medium';
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0;

  .inner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    border: 2px solid black;

    .content {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      img {
        width: 75px;
      }
    }

    .actions {
      display: flex;
      justify-content: center;

      button {
        margin: 0 0.25rem;
        border: 1px solid;
        border-radius: 3px;
        font-family: 'chikarego2medium';
        font-size: 1.0rem;
        background: white;

        &:hover {
          background: black;
          color: white;
          cursor: pointer;
        }
      }

      .primary {
        border: 2px double black;
        border-radius: 2px;
        box-shadow: 0 0 0 2pt black;
        padding: 0 2rem;
      }
    }
  }
}