.desktop {
  padding: 1rem;
  font-family: 'depixel';
  font-size: 10px;
  letter-spacing: 1px;
  background-color: #929292;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}